// main script name
manifest.mainScript = 'mvgwas.nf'

// small input dataset for testing
params {
    pheno = 'data/eg.phenotypes.txt'
    geno = 'data/eg.genotypes.vcf.gz'
    cov = 'data/eg.covariates.txt'
}

// Docker is disabled by default and uses the following options when activated
docker {
    sudo = false
    fixOwnership = true
    runOptions = '-u $(id -u)'
}

// Singularity is disabled by default and uses autoMounts when enabled
singularity {
    cacheDir = 'singularity'
    autoMounts = true
}

// Enable trace by default
trace.enabled = true

// Process configuration
process{
    // Container ID in Docker Hub
    container = 'dgarrimar/simreal:r3.5.2'
}

// Profiles
profiles {
    local {
        executor {
            name = 'local'
        }
    }

    crg {        
        executor {
            name = 'crg'
            queueSize = 300
        }
    }
  
    bsc {
        executor {
            name = 'ignite'
            queueSize = 1000
        }
    }
}
