profiles {

    local {
        executor {
	        name = 'local'
	}
    }

    crg {        
	executor {
		name = 'crg'
                queueSize = 300
	}
    }
  
    bsc {
	executor {
                name = 'ignite'
                queueSize = 1000
        }
    }
}

process{
    container = 'dgarrimar/simreal:r3.5.2'
}

docker {
    sudo = false
    fixOwnership = true
    runOptions = '-u $(id -u)'
}

singularity {
    cacheDir = 'singularity'
    autoMounts = true
}
