// main script name
manifest.mainScript = 'mvgwas.nf'

// small input dataset for testing
params {
    pheno = 'data/eg.phenotypes.txt'
    geno = 'data/eg.genotypes.vcf.gz'
    cov = 'data/eg.covariates.txt'
}

// Docker is disabled by default and uses the following options when activated
docker {
    sudo = false
    fixOwnership = true
    runOptions = '-u $(id -u)'
}

// Singularity is disabled by default and uses autoMounts when enabled
singularity {
    cacheDir = 'singularity'
    autoMounts = true
}

// Enable trace by default
trace.enabled = true

// Process configuration
process{
    // Container ID in Docker Hub
    container = 'dgarrimar/simreal@sha256:d492bcea505aa152880b8053ee475d87963650293f7f983f8e24c36f09bef318'
    memory = '4 GB'
}

// Profiles
profiles {
    local {
        executor {
            name = 'local'
        }
    }

    crg {        
        executor {
            name = 'crg'
            queueSize = 300
        }
        process {
            queue = 'rg-el7,long-sl7,short-sl7'
        }
    }
  
    bsc {
        executor {
            name = 'ignite'
            queueSize = 1000
        }
    }
}
